[mysqld]
server-id=SERVERID
log-bin=/var/log/mysql/mysql-bin
#relay_log = /usr/local/mysql/log/relay.log
gtid-mode=ON
enforce-gtid-consistency=ON
max_connections=MAXCONNECTIONS
max_connect_errors=MAXCONNECTERRORS
wait_timeout=WAITTIMEOUT
interactive_timeout=INTERACTIVETIMEOUT
